.DS_Store
[._]*.s[a-v][a-z]
[._]*.sw?
!*.svg
[._]*.un~
__pycache__/
*.py[codz]
.ruff_cache/
.mypy_cache/
*.o
*.ko
*.obj
*.elf
*.so
*.so.*
*.dylib
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

